---
export const prerender = false

import Layout from '@/layouts/Layout.astro'

Astro.response.headers.set('Cache-Control', 's-maxage=10, stale-while-revalidate')

const time = new Date().toLocaleTimeString()
---

<Layout
  seo={{
    title: 'SSR with SWR caching',
    description:
      'A page that uses server-side rendering (through Vercel Edge Functions), but also caches the response on the Vercel Edge Network using cache-control headers',
  }}
>
  <section>
    <hgroup>
      <h2>SSR with SWR caching</h2>
      <p>
        A page that uses server-side rendering (through Vercel Edge Functions), but also caches the
        response on the Vercel Edge Network using cache-control headers
      </p>
    </hgroup>

    <h1>{time}</h1>

    <a href="/ssr-with-swr-caching">Refresh</a>
  </section>
</Layout>
