---
import Layout from '@/layouts/Layout.astro'

export const prerender = false

const time = new Date().toLocaleTimeString()
---

<Layout
  seo={{
    title: 'Server-Side Rendering (SSR)',
    description: 'A page that uses server-side rendering (through Vercel Edge Functions)',
  }}>
  <section>
    <hgroup>
      <h2>Server-Side Rendering (SSR)</h2>
      <p>A page that uses server-side rendering (through Vercel Edge Functions)</p>
    </hgroup>

    <h1>{time}</h1>

    <a href="/ssr">Refresh</a>
  </section>
</Layout>
