---
// import ThemeSwitcher from './ThemeSwitcher.astro'
// import ToggleTheme from './ToggleTheme.astro'
---

<footer class="container">
  <hr />
  <nav>
    <div></div>
    <ul>
      <li>
        <small>
          Built with <a href="https://astro.build" target="_blank">Astro</a> & <a
            href="https://picocss.com/"
            target="_blank">Pico</a
          >
        </small>
      </li>
    </ul>
    <!-- <ThemeSwitcher /> -->
    <!-- <ToggleTheme /> -->
  </nav>
</footer>

<!-- <style>
  nav ul li {
    text-align: center;
  }
</style> -->
