---
// import ThemeSwitcher from './ThemeSwitcher.astro'
// import ToggleTheme from './ToggleTheme.astro'
---

<footer class="container">
  <hr />
  <nav>
    <small>
      Learn more about <a
        href="https://vercel.com/docs/frameworks/astro"
        rel="nofollow"
        target="_blank">Astro on Vercel</a
      >
    </small>
    <small>
      Built with <a href="https://astro.build" target="_blank">Astro</a> & <a
        href="https://picocss.com/"
        target="_blank">Pico</a
      >
    </small>
    <!-- <ThemeSwitcher /> -->
    <!-- <ToggleTheme /> -->
  </nav>
</footer>
