---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import SEO from '@/components/SEO.astro'
import SpeedInsights from '@vercel/speed-insights/astro'
import { type Props as SEOProps } from 'astro-seo'
import { ClientRouter } from 'astro:transitions'
// import '@fontsource/geist-sans';
import '@fontsource-variable/inter'
import '@picocss/pico/css/pico.orange.min.css'
import '@/assets/styles/globals.css'

interface Props {
  seo?: SEOProps
}

const { seo } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link href="/pico-mark-light.svg" rel="icon" media="(prefers-color-scheme: light)" />
    <link href="/pico-mark-dark.svg" rel="icon" media="(prefers-color-scheme: dark)" />
    <meta name="generator" content={Astro.generator} />
    <SEO {seo} />
    <ClientRouter />
    <SpeedInsights />
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
    <script>
      // import '@/assets/scripts/theme-switcher'
      // import '@/assets/scripts/modal'
    </script>
  </body>
</html>
